#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0px 2em 0px 2em;
  font-size: 32px;
  top: 0;
  z-index: 10;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  position: fixed;
  font-size: 2em;
  line-height: 80px;
  float: left;
}

.btn {
  margin-top: 1em;
  border: none;
  background-color: forestgreen;
  padding: 14px 28px;
  font-size: 0.5em;
  cursor: pointer;
  float: right;
}

/* On mouse-over */
.btn:hover {
  background: #eee;
}