section.old-tweets {
  color: black;
  border-radius: 5px;
  background-color: white;
  margin: 0 2em;
  display: flex;
  flex-direction: column;
}

article.tweet:hover {
  border: 1px dotted #3a7999;
  color: rgb(32, 95, 116);
  
}




article.tweet {
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid;
}

article.tweet header {
 background-color: #AAA;
 border-top-right-radius: 5px;
 border-top-left-radius: 5px;
 display: flex;
 justify-content: space-between;
}

article.tweet footer {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: left;
  padding-left: 5px;
  padding-bottom: 5px;
  border-top: 1px solid;
  border-width: 1px 0;
  display: flex;
  justify-content: flex-end;
}



p.account {
  margin-right: 15px;
  padding-left: 80px;
  text-align: right;
}

.userName {
  float: top;
}

img.avatar {
  max-height: 70px;
  min-width: 70px;
  float: left;
  border-radius: 5px;
  padding: 10px;
}

h2.userName {

  float: right;
}

p.tweet {
  display: flex;
  padding-left: 15px;
  text-align: left;
}


.date {
  display: block;
  flex-grow: 1;
}

.footbtn {
  height: 1em;
  width: 1em;
  margin: 1em 0.5em 0 0.5em;
  display: none;
}

/* On mouse-over */

article.tweet:hover .footbtn{
  display: inline-block;
}


