section.old-tweets {
  color: black;
  border-radius: 5px;
  background-color: white;
  margin: 0 2em;
}

article.tweet:hover {
  border: 1px dotted #3a7999;
	color: rgb(32, 95, 116);
}

article.tweet {
  margin-top: 20px;
  border-radius: 5px;
  border: 1px solid;
}

article.tweet header {
 background-color: #AAA;
 border-top-right-radius: 5px;
 border-top-left-radius: 5px;
 display: flex;
}

article.tweet footer {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: left;
  padding-left: 5px;
  padding-bottom: 5px;
  border-top: 1px solid;
  border-width: 1px 0;
}



p.account {
  padding-left: 80px;
  text-align: right;
}

.userName {
  float: top;
}

img.avatar {
  height: 70px;
  width: 70px;
  float: left;
  border-radius: 5px;
  padding: 10px;
}

h2.userName {
  padding-right: 50px;
  padding-left: 10px;
  float: right;
}

p.tweet {
  display: flex;
  padding-left: 15px;
}